{{#if view.showLabelComp}}<div class={{view.labelClass}} >
  <label for={{view.columnData.name}}>{{#if view.columnData.label}}{{view.columnData.label}}{{#if view.columnData.form.mandatory}}*{{/if}}{{/if}}</label>
  {{#if view.columnData.form.helpText}}<div class="label-tooltip">
    {{#tool-tip placement="right" title=view.columnData.form.helpText}}<span class="glyphicon glyphicon-question-sign"></span>{{/tool-tip}}
  </div>{{/if}}
</div>{{/if}}
<div class={{view.inputClass}}> {{#if view.columnData.form.fieldDescription}}<span>{{view.columnData.form.fieldDescription}}</span>{{/if}}
  <div class="validateField">
    {{yield}}
    {{#unless view.showLabelComp}}
      {{#if view.columnData.form.helpText}}<div class="label-tooltip">
        {{#tool-tip placement="right" title=view.columnData.form.helpText}}<span class="glyphicon glyphicon-question-sign"></span>{{/tool-tip}}
      </div>{{/if}}
    {{/unless}}
    {{#if view.invalid}}
      {{#if view.invalidReason}}<span class="help-block text-danger">{{view.invalidReason}}</span>{{/if}}
    {{/if}}
  </div>
</div>

